extend ../views/layout

block content
   h4(style='color: blue; font-family: Arial') Error: No keywords entered
   p Your search returned no results! Please enter valid keywords for search. 
   p: a(href="http://127.0.0.1:3000/searchMovie") << Go Back