html
	head
		title(style='color: blue; font-family: Arial') VLM by 7Noders
	body
		h3(style='color: blue; font-family: Arial') Video Library Management System by 7Noders
		section.container!= body
		block content