extend ../views/layout

block content
	h4(style='color: blue; font-family: Arial') Create Movie Form
	p
	form(action='/createMovie', method='post')
		table(border='2', width='500')
			tbody
				tr
					td Movie Name
					td
						input(type='text', placeholder='Name', name='Name', id='Name', size=50)
				tr
					td Movie Banner
					td
						input(type='text', placeholder='Banner', name='Banner', id='Banner', size=50)
				tr
					td Category
					td
						input(type='text', placeholder='Category', name='Category', id='Category', size=50)
				tr
					td Release Date
					td
						input(type='number', placeholder='Release', name='Release Date', id='Release Date', size=50, min="1800", max="2038")
				tr
					td Rent Amount
					td
						input(type='number', placeholder='Rent', name='Rent Amount', id='Rent Amount', size=50, min="1", max="50",step="any")
				tr
					td Available Copies
					td
						input(type='number', placeholder='Copies', name='Available Copies', id='Available Copies', size=50, min="1", max="100")
		p: input(type='submit', value='Submit')
	