extend ../views/layout

block content
	h3 Couldn't insert the movie.
	button#createMovie.float-right.submit-button Try creating a Movie again!	
	script.
		document.getElementById("createMember").onclick = function () {
			location.href = "http://127.0.0.1:3000/createMovie";
		};