extend ../views/layoutExtern

block content
	h3 You need to sign in before accessing Video Library Management System.
	button#myButton.float-left.submit-button Login Here
	button#myButton2.float-right.submit-button New user? Sign up
	script.
		document.getElementById("myButton").onclick = function () {
			location.href = "http://127.0.0.1:3000/login";
		};
	script.
		document.getElementById("myButton2").onclick = function () {
			location.href = "http://127.0.0.1:3000/signup";
		};