extend ../views/layout

block content
	p
	form(action='/createMember', method='post')
		table(border='2', width='500')
			tbody
				tr
					td Membership ID: 
					td
						input(type='text', placeholder='Membership ID', name='Membership ID', id='Membership ID', pattern='[0-9]{3}-?[0-9]{2}-?[0-9]{4}',required='true')
				tr
					td Email ID: 
					td
						input(type='email', placeholder='Email', name='Email', id='Email', required='true')
				tr
					td First Name: 
					td
						input(type='text', placeholder='First Name', name='First Name', id='First Name')
				tr
					td Last Name: 
					td
						input(type='text', placeholder='Last Name', name='Last Name', id='Last Name')
				tr
					td Password: 
					td
						input(type='password', placeholder='Password', name='Password', id='Password', required='true')
				tr
					td Confirm Password: 
					td
						input(type='password', placeholder='Password confirmation', name='Password confirmation', id='Password confirmation', required='true')
				tr
					td Address line 1: 
					td
						input(type='text', placeholder='Address1', name='Address1', id='Address1')
				tr
					td Address line 2: 
					td
						input(type='text', placeholder='Address2', name='Address2', id='Address2')
				tr
					td City
					td
						input(type='text', placeholder='City', name='City', id='City')
				tr
					td State: 
					td
						input(type='text', placeholder='State', name='State', id='State')
				tr
					td Zipcode: 
					td
						input(type='zip', placeholder='Zipcode', name='Zipcode', id='Zipcode', pattern='([0-9]{5})|([0-9]{5}-?[0-9]{4})')
				tr
					td What kind of user account do you want to create?
					td
						p Premium
							input(type='radio', id='isPremium', name='isPremium' value='1')
						p Simple
							input(type='radio', id='isSimple', name='isPremium', value='2', checked='true')
		p: input(type='submit', value='Create')
		p: input(type='reset', value='Reset')