extends ../views/layout

block content
	h1= title
	h1(align='center') You Have Successfully Issued the Movie.
	p: a(href="http://127.0.0.1:3000/issueForm") << Go Back To Issue
	p: a(href="http://127.0.0.1:3000/submitMovie") Go To Submit