extends ../views/layout

block content
	h1= title
	form(method="post", action="http://127.0.0.1:3000/getAllMembers")
		h3 Select Type of Member
		input(type='radio', name='member', value='1')
		| Premium Members
		br
		input(type='radio', name='member', value='2')
		| Simple Members
		br
		input(type='radio', name='member', value='0', checked='')
		| ALL Members
		br
		input(type='submit', value='Go')

	